[submodule "lib/bar-decomp"]
	path = lib/bar-decomp
	url = https://github.com/bryankruman/BeetleDecomp
	ignore = dirty
[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/danielgomesvieira2000/N64ModernRuntime.git
	branch = controller-pak
[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/bryankruman/rt64.git
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi.git
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg.git
[submodule "lib/N64Recomp"]
	path = lib/N64Recomp
	url = https://github.com/bryankruman/N64Recomp.git
	ignore = untracked
[submodule "lib/freetype-windows-binaries"]
	path = lib/freetype-windows-binaries
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "lib/RecompFrontend"]
	path = lib/RecompFrontend
	url = https://github.com/N64Recomp/RecompFrontend.git
